<!DOCTYPE html>
<html>
  <head>
    <title>HackIt.tk</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>HackIt.tk</h1>
      <div class="main">
        <% for (challenge of challenges) { %>
          <form method="post" action="/start" class="challenge" id="desc-<%= challenge.id %>">
            <button type="submit" class="challenge-title" id="title-<%= challenge.id %>"><%= challenge.title %></button>
            <button type="submit" class="challenge-description"><%= challenge.description %></button>
            <input type="hidden" name="challenge" value="<%= challenge.id %>"></input>
          </form>
        <% } %>
      </div>
  </body>
</html>
