<!DOCTYPE html>
<html>

<head>
  <title>
    <%= challenges[index].title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="main">
    <div class="menu">
      <div class="title">
        HackIt.tk
      </div>
      <% for (var c of challenges) { %>
        <div class="menu-item" href="/challenge/<%= c.index %>">
          <%= c.title %>
        </div>
        <% } %>
    </div>

    <div class="content">
      <div class="exercise">
        <h1>
          <%= challenges[index].title %>
        </h1>
        <div class="text">
          <%= challenges[index].text %>
        </div>
        <div class="task">
          <%= challenges[index].task %>
        </div>
      </div>

      <iframe src="/form/<%= index %>"></iframe>
    </div>
  </div>
</body>

</html>